<div class="modal">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Add new Task</h1>
    <button class="button button-clear button-positive" ng-click="closeAddTask()">Cancel</button>
  </ion-header-bar>
  <ion-content>
   <form>
     <div class="list">
       <label class="item item-input">
         <input type="text" placeholder="new Task">
       </label>
       <label class="item item-input">
         <textarea type="text" placeholder="description"></textarea>
       </label>
       <div class="padding">
         <button type="submit" class="button button-positive button-block">Add</button>
       </div>
     </div>
   </form>
  </ion-content>
</div>
